.head {
    background-color: rgba(0, 0, 0, 0.801);
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 40px;
    padding: 10px;
}

.card {
    background-color: #f5f5f5;
    color: white;
    width: 300px;
    height: 400px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    left: 35%;
    top: 100px;
    box-shadow: 0 10px 25px rgb(0, 0, 0,0.3);
    
}

.card_header {
    width: 340px;
    height: 200px;
    border-radius: 10px 10px 0 0;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 255, 0.696);
}


.dis {
    color: white;
    background-color: red;
    width: 40px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    right: -10px;
    top: -10px;
}
img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    transition: 0.4s ease;
}

img:hover {
transform: scale(1.08);
box-shadow: 0 10px 25px rgb(0, 0, 0,0.3);
}


h2 {
    position: absolute;
    top: 200px;
    color: black;
}

p {
    position: absolute;
    top: 250px;
    color: black;
}

.price {
    position: absolute;
    top: 70%;
    font-weight: bold;
    font-size: 20px;
}


.price_1 {
    position: absolute;
    top: 72%;
    left: 25%;
    font-weight: bold;
    font-size: 15px;
    text-decoration: line-through;
    color: #ccc;
}

.b1 {
    position: absolute;
    top: 85%;
    left: 10%;
    padding: 10px;
    border-radius: 15px;
    background-color: green;
    color: white;
    width: 115px;
}

.b2 {
    position: absolute;
    top: 85%;
    left: 50%;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(21, 22, 21);
    color: white;
}

.stock {
    position: absolute;
    bottom: -55px;
    right: 0;
    background-color: rgb(0, 0, 15);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgb(0, 0, 0,0.3);
}